<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Mi Desafio MVT</title>
</head>
<body>
    <main>
        <section>
            <h1> Familiares</h1>
            <article>
                {% for familiar in Familiares %}
                    <h2>Familiar</h2>
                    <p>Mi Nombre es {{familiar.name}} y mi apellido es {{familiar.last_name}}</p>
                {% endfor %}
            </article>
            
        </section>
    </main>
    
</body>
</html>